body {
    text-align : center ;
}

a:link    { color : #0000FF ; }
a:visited { color : #800080 ; }
a:hover   { color : #0000FF ; }
a:active  { color : #FF0000 ; }

section, nav, article, aside,
hgourp, header, footer, address {
    display : block ;
    margin : 0 ;
    padding : 0 ;
}

header.banner h1 {
    font-size : 1.2em ;
}

header.banner h1 a {
    text-decoration : none ;
    
    font-size : 1em ;
    font-weight : bold ;

}

header.banner h1 a:link,
header.banner h1 a:visited { color : #000000 ; }
header.banner h1 a:hover   { color : #0000FF ; }
header.banner h1 a:active  { color : #FF0000   }

article.main {
    margin  : 3em auto ;
}

article.main form textarea {
    padding : 0.5em ;
    height : 3em ;
    width : 30em ;
}

footer.contentinfo p {
    font-size : 0.8em ;
}